@define-color bg #262626;
@define-color fg #b4b4b4;
@define-color gray1 #8edac5;
@define-color gray2 #404040;
@define-color gray3 #404040;
@define-color gray4 #f6c198;
@define-color gray5 #f6c198;
@define-color fg_bright #b4b4b4;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}